/* Define o fundo da página */
body {
    background-image: url('Imagem/Login-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

/* Estiliza o container do formulário */
.form-container {
    background-color: white;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto; /* Centraliza horizontalmente */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza verticalmente e horizontalmente */
}

/* Ajusta o container principal */
.container {
    padding: 20px;
    position: relative;
    min-height: 100vh;
}

/* Estiliza o botão */
.btn-primary {
    background-color: #0d6efd;
    border: none;
    padding: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0b5ed7;
}

/* Ajusta o switch */
.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.form-control {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.form-control:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

h2 {
    color: #0d6efd;
    font-weight: bold;
}

/* Estiliza o rodapé */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

footer a:hover {
    text-decoration: underline !important;
}
